body {
    margin: 0;
    text-align: center;
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    color: aliceblue;
    
}

h3 {
    font-size: 45px;
    margin: 0;
}

.container {
        background-color: #0a2c56;
        padding: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
}

.score {
    width: 130px;
    background-color: black;
    color: deeppink;
    font-size: 80px;
    font-family: "Aldrich";
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    margin-top: 30px;
    padding: 8px 13px;
    background-color: transparent;
    border: 1px solid aliceblue;
    color: aliceblue;
    font-family: "Aldrich";
}

button:hover {
    background-color: royalblue;
}
